body {
  background: #5252ff;
  background: linear-gradient(
    148deg,
    rgba(82, 82, 255, 1) 0%,
    rgba(9, 9, 121, 1) 25%,
    rgba(82, 82, 255, 1) 50%,
    rgba(9, 9, 121, 1) 70%,
    rgba(82, 82, 255, 1) 100%
  );
  text-align: center;
  font-family: "Roboto", sans-serif;
}

p2 {
  text-align: center;
}
